<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Powered by {{ @VERSION }}</title>
	<style type="text/css">
		{{ Web::minify('templates/',array('style.css'),FALSE) }}
	</style>
</head>
<body>
<h3 style="text-align:center;"><a href="/index.php">GroupDocs PHP SDK Samples</a> - Sample21</h3>

<div class='samplecontent' style="padding:10px;">
   <i>This sample will show how to use StorageApi to Create and Upload Envelop to GroupDocs account using PHP SDK</i> <br/>
    <br />
    <a href="/docs/sample21.html">Docs for this sample</a>
    <br />
   <br/><p>You entered: 
   <p>ClientID = {{@userId}}
   <p>PrivateKey = {{@privateKey}}
   <p>Email = {{@email}}
   <p>Name = {{@name}}
   <p>Last Name = {{@lastName}}
   <p><font color="red">{{@error}}</font>
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
   <p>Enter data for request and press "Make request" button</p>
   <form action="/sample21" method = "post" enctype = 'multipart/form-data'>
        <label for='client_id'>GroupDocs ClientID</label>
        <br />
        <input type='text', name='client_id' />
        <br />
        <label for='private_key'>GroupDocs PrivateKey</label>
        <br />
        <input type='text', name='private_key' />
        <br />
        <label for='email'>Email</label>
        <br />
        <input type='text', name='email' />
        <br />
        <label for='name'>Name</label>
        <br />
        <input type='text', name='name' />
        <br />
        <label for='lastName'>Last Name</label>
        <br />
        <input type='text', name='lastName' />
        <br />
        <label for='file'>File</label>
        <br />
        <input type='file' name='file'  />
        <br />
        <label for='callbackUrl'>callbackUrl</label>
        <br />
        <input type='text', name='callbackUrl'  value="{{@callbackURL}}" />
        <br />
        <label for='server_type'>Choose Server</label>
        <br />
        <select name="server_type" id="server_type">
                <option selected value="https://api.groupdocs.com/v2.0">Prod</option>
                <option value="https://dev-api.groupdocs.com/v2.0">Dev</option>
                <option value="https://stage-api.groupdocs.com/v2.0">Stage</option>
        </select>
        <br />
        <input type='submit' value='Upload'/>
     </form>
    </div>
    <div  style="padding:20px; border:1px solid black;">
        <p>Results:</p>
        {{ @message }}
       {{ @iframe }}
    </div>
</div>

 <include href="links.htm" />
</body>
</html>