<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Powered by {{ @VERSION }}</title>
    <style type="text/css">
        {{ Web::minify('templates/',array('style.css'),FALSE) }}
    </style>
</head>
<body>
<h3 style="text-align:center;"><a href="/index.php">GroupDocs PHP SDK Samples</a> - Sample18</h3>

<div class='samplecontent' style="padding:10px;">
    <i>This sample will show how to convert Doc to Docx, Docx to Doc, Docx to PDF and PPT to PDF using PHP SDK</i> <br/>
    <br />
    <a href="/docs/sample18.html">Docs for this sample</a>
    <br />
    <p><font color="green">You entered: </font></p>
		<p>ClientID = {{@userId}}</p>
		<p>Private Key = {{@privateKey}}</p>
		<p>File Id = {{@fileId}} </p>
		<p>Convert type = {{@convert_type}}</p>
    <br />
    <p><font color="red">{{@error}}</font>
    <div id="requestForm" style="padding:20px; border:1px solid black;">
        <p> Enter data for request and press "Make request" button </p>
        <form action="/sample18" method = "post" enctype = 'multipart/form-data'>
            <label for='client_id'>GroupDocs Client ID</label>
            <br />
            <input type='text', name='client_id' value="{{@userId}}" />
            <br />
            <label for='private_key'>GroupDocs Private Key</label>
            <br />
            <input type='text', name='private_key'  value="{{@privateKey}}" />
            <br />
            <label for='fileId'>FileID</label>
            <br />
            <input type='text', name='fileId'  value="{{@fileId}}" />
            <br />
            <input type='submit' value='Make Request'/>
            <select name="convert_type" id="convert_type">
                            <option value="doc">Doc</option>
                            <option value="pdf">PDF</option>
                            <option value="docx">Docx</option>
                            <option value="ppt">PPT</option>
            </select>
        </form>
    </div>
    <div  style="padding:20px; border:1px solid black;">
        <p> Results: </p>
        {{ @iframe }}
    </div>
</div>

 <include href="links.htm" />

</body>
</html>