<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Powered by {{ @VERSION }}</title>
	<style type="text/css">
		{{ Web::minify('templates/',array('style.css'),FALSE) }}
	</style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://dev-apps.groupdocs.com/content/signaturewidgets/groupdocs.sign.js"></script>
</head>
<body>
<h3 style="text-align:center;"><a href="/index.php">GroupDocs PHP SDK Samples</a> - Sample6</h3>

<div class='samplecontent' style="padding:10px;">
   <i>This sample will show how to add provided signature to provided document using PHP SDK. Signed file will be uploaded to GroupDocs account and its GUID will be returned and embed into webpage with GroupDocs Ebedded Viewer.</i> <br/>
    <br />
    <a href="/docs/sample06.html">Docs for this sample</a>
    <br />
   <div id="files_form">
    <form action='#' onsubmit="return false;">
        <br />
        <label for='client_id'>GroupDocs ClientID</label>
        <br />
        <input type='text', id='client_id' />
        <br />
        <label for='private_key'>GroupDocs PrivateKey</label>
        <br />
        <input type='text', id='private_key' />
        <br />
        <label for='file_document'>Document to sign</label>
        <br />
        <input type='file' id='fi_document'  />
        <br />
        <label for='file_signature'>Signature</label>
        <br />
        <input type='file' id='fi_signature'  />
        <br />
        <br />
        <input type='button' id='btnLoad' value='Upload and sign the document' onclick='load();'>
        <br />
        <br />
    </form>
    </div>
    <div  style="padding:20px; border:1px solid black;">
        <p> Results: <span id="results_status" style="color:red;display:none;"> (Please wait for ajax response) </span></p>
        <iframe id="viewer" src="" frameborder="0" width="600" height="500"></iframe>
        
    </div>
</div>

 <include href="links.htm" />
<script type='text/javascript'>

        function load() {
            var inputDocument, inputSignature, fileDocument, fileSignature, frDocument, frSignature;

            if (typeof window.FileReader !== 'function') {
                $("body").append("p", "The file API isn't supported on this browser yet.");
                return;
            }

            inputDocument = document.getElementById('fi_document');
            if (!inputDocument) {
                $("body").append("p", "Um, couldn't find the fileinput element.");
            }
            else if (!inputDocument.files) {
                $("body").append("p", "This browser doesn't seem to support the `files` property of file inputs.");
            }
            else if (!inputDocument.files[0]) {
                $("#files_form").append("<p class='error'>Please select a file before clicking 'Load'</p>");
            }
            else {
                $('#results_status').fadeIn("slow");
                $('#sample6').fadeOut("slow");

                fileDocument = inputDocument.files[0];
                frDocument = new FileReader();
                frDocument.onload = receivedDocument;
                frDocument.readAsDataURL(fileDocument);
            }

            function receivedDocument() {

                inputSignature = document.getElementById('fi_signature');
                if (!inputSignature) {
                    $("body").append("Um, couldn't find the fileinput element.");
                }
                else if (!inputSignature.files) {
                    $("body").append("p", "This browser doesn't seem to support the `files` property of file inputs.");
                }
                else if (!inputSignature.files[0]) {
                    $("body").append("<p>Please select a file before clicking 'Load'</p>");
                }
                else {
                    fileSignature = inputSignature.files[0];
                    frSignature = new FileReader();
                    frSignature.onload = receivedSignature;
                    frSignature.readAsDataURL(fileSignature);
                }
            }

            function receivedSignature() {
                var span = document.createElement('span');
                span.innerHTML = ['<img class="thumb" width="100" src="', frSignature.result, '"/>'].join('');
                signDocument();
            }

            function signDocument() {
                $("body").sign({
                    userId: $('#client_id').val(),
                    privateKey: $('#private_key').val(),
                    signMethod: "/sample06",
                    onError: function (e, data) {
                        alert(data);
                    },
                    onSigned: function (e, data) {
                        $("#viewer").attr("src", "https://apps.groupdocs.com/document-viewer/Embed/" + data.documentId);
                        $('#results_status').fadeOut("slow");
                        $('#viewer').fadeIn("slow");
                    }
                });
                $("body").sign("addDocument", {
                    name: fileDocument.name,
                    data: frDocument.result
                });
                $("body").sign("addSigner", {
                    name: 'Marketplace Team',
                    top: 0.03319,
                    left: 0.52171,
                    width: 100,
                    height: 40,
                    data: frSignature.result
                });
                $("body").sign("sign");
            }
        }
</script>
</body>
</html>
