<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Powered by {{ @VERSION }}</title>
	<style type="text/css">
		{{ Web::minify('templates/',array('style.css'),FALSE) }}
	</style>
</head>
<body>
<h3 style="text-align:center;"><a href="/index.php">GroupDocs PHP SDK Samples</a> - Sample4</h3>

<div class='samplecontent' style="padding:10px;">
   <i>This sample will show how to download particular file from GroupDocs account using PHP SDK</i> <br/>
    <br />
    <a href="/docs/sample04.html">Docs for this sample</a>
    <br />
   <br/><p>You entered: 
   <p>ClientID = {{@userId}}
   <p>PrivateKey = {{@privateKey}}
   <p>FileId = {{@file_Id}}
   <p><font color="red">{{@error}}</font>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
   <p> Enter data for request and press "Download" button </p>
   <form action="/sample04" method = "post" enctype = 'multipart/form-data'>
       <label for='client_id'>GroupDocs ClientID</label>
       <br />
       <input type='text', name='client_id' value="{{@userId}}" />
       <br />
       <label for='private_key'>GroupDocs PrivateKey</label>
       <br />
       <input type='text', name='private_key'  value="{{@privateKey}}" />
       <br />
       <label for='private_key'>FileID</label>
       <br />
       <input type='text', name='fileId'  value="{{@file_Id}}" />
       <br />
       <input type='submit' value='Download'/>
   </form>
   {{@message}}
   </div>
   <br/>
 </div>

 <include href="links.htm" />
</body>
</html>